<header class=" border-bottom text-center py-3 ">
  <h3>Found <%= pluralize(@articles.size, 'article')%></h3>
</header>
<section class="w-100 h-100 d-flex flex-wrap justify-content-center mt-2 mb-4">
  <% @articles.each do |article|%>
    <article class="border-bottom border-dark py-4">
      <%= show_article_content article %>
    </article>
  <%end%>
</section>