@import 'bootstrap/scss/bootstrap';
@import 'users';

// Defaults
.alert-info{
  position: fixed;
  top: 0;
  left: 10vw;
  animation:alert-success 1s 1;
  -webkit-animation:alert-success 1s 1;
  animation-fill-mode: forwards;

  animation-delay:2s;
  -webkit-animation-delay:2s;
  -webkit-animation-fill-mode: forwards;

} 

@-webkit-keyframes alert-success{
  0%   {opacity: 1;}
  70%  {opacity: 0.5;}
  90% {opacity: 0.3;-webkit-transform: translateY(0px);}
  100% {opacity: 0;-webkit-transform: translateY(-30px); visibility: hidden;}
}

.custom-border {
  border: 3px dashed red;
}
// Header

.nav-custom {
  min-height: 60px;
  background-color: #fff;
}

.navbar-collapse {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rebeccapurple;
  border: 4px dashed red;
  height: 100px;
  transition: unset;
  transition: 1s linear;
  animation: unset;
}

.toggle-button,
.toggle-button::before,
.toggle-button::after {
  width: 50px;
  border-top: 0.45rem solid #847F7B;
  border-radius: 5px;
}

.toggle-button {
  position: relative;
}

.toggle-button::before,
.toggle-button::after {
  position: absolute;
  top: -20px;
  content: " ";
}

.toggle-button::after {
  top: 6px;
}

// main container
