@import 'bootstrap/scss/bootstrap';
@import 'users';

// Defaults
.alert-info{
  position: fixed;
  top: 0;
  left: 10vw;
  animation:alert-success 1s 1;
  -webkit-animation:alert-success 1s 1;
  animation-fill-mode: forwards;

  animation-delay:2s;
  -webkit-animation-delay:2s;
  -webkit-animation-fill-mode: forwards;

} 

@-webkit-keyframes alert-success{
  0%   {opacity: 1;}
  70%  {opacity: 0.5;}
  90% {opacity: 0.3;-webkit-transform: translateY(0px);}
  100% {opacity: 0;-webkit-transform: translateY(-30px); visibility: hidden;}
}

.custom-border {
  border: 3px dashed red;
}
// Header

.nav-custom {
  min-height: 60px;
  background-color: #fff;
}

.toggle-label,
.toggle-label::before,
.toggle-label::after {
  width: 40px;
  border-top: 0.45rem solid #847F7B;
  border-radius: 8px;
}

.toggle-label {
  position: relative;
}

.toggle-label::before,
.toggle-label::after {
  position: absolute;
  top: -20px;
  content: " ";
}

.toggle-label::after {
  top: 6px;
}

.toggle-checkbox:checked~ .nav__links {
  transform: scale(1,1);
}

.toggle-checkbox {
  display: none;
}

.nav__links {
  position: fixed;
  top: 9%;
  left: 0;
  width: 50vw;
  height: 95vh;
  transform: scale(0,1);
  transform-origin: left center;
  transition:transform 0.3s linear;
}

.logo {
  height: 60px;
}

// main container
