/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Global values
*  2.0 - row 1
*  3.0 - sidebars
*  4.0 - categories
*/

/*** 1.0 Global values ***/

/*** 2.0 Row 1 ***/

.carousel-item {
  position: relative;
}

.img-description {
  position: absolute;
  top: 50%;
}

.weather_container {
  height: 28vw;
  background: linear-gradient(to bottom, rgba(206, 105, 105, 0.555), rgba(248, 133, 133, 0.712)), url("/assets/weatherbg.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .row-1-height-sm {
    height: 55vw;
  }  
}

@media screen and (min-width: 768px) {
  .row-1-height-md {
    max-height: 28vw !important;
  }
}

/*** 3.0 sidebars  ***/

.side__bar {
  position: fixed;
  top: 10vh;
  z-index: 2000;
  right: 1vw;
  height: 85vh;
}

/*** 4.0 categories ***/
.category-row {
  height: 50vh;
}
